body {
 	padding:0;
	margin:0;
	padding-top: 20px;
	
	Font:"Courier New, Courier, monospace";	
	background-color:#e74c3c;
}
.full{
	width:100%;
	padding:0;
}
.main-menu{
	height:40px;
	width:100%;
	background-color:#333;
}
.navbar {
	margin-bottom: 10px;
	background-color:#F7F7F7;
	border:none;
}

.navbar a{
	color:#FFF;
}
.navbar a:hover{
	background-color:#0F0;
}
.nav-pills>li>a{
	border-radius:0;
}
.nav-pills>li>a:hover{
	background-color:#333;
	color:#e74c3c;
}


.nav{
	float:right;
	padding-right:100px;
}
.second-nav{
	width:100%;
}
.search-frame{
	padding:5px;
}
.search-flight{
	padding:0px;
	background-color:red;
}
.search-flight input{
	margin:10px;
}
.input-text{
	background:#D7D7D7;
	border:none;
	height:34px;
	padding:15px;
	width:100%;
	margin:2px;
}
.icon-orig{
	background-image:url(../travel-icon2.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}
.icon-dest{
	background-image:url(../travel-icon1.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}
.icon-cal{
	background-image:url(../travel-icon-cal.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}
.icon-adult{
	width:70px;
	background-image:url(../travel-icon-adult.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}
.icon-teen{
	width:70px;
	background-image:url(../travel-icon-teen.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}
.icon-baby{
	width:70px;
	background-image:url(../travel-icon-baby.png);
	background-repeat:no-repeat;
  	padding-left:40px;
}	
.search-button{
	width:226px;
	height:34px;
	border:none;
	background-image:url(../travel-icon-find.png);
	background-repeat:no-repeat;
	background-color:#e74c3c;
  	padding-left:40px;
	color:#FFF;
	margin:2px;
}
.col-md-3{
	padding:5px;
}

.search-tittle{
	width:100%;
	text-align:center;
}
.logo{
	padding:20px 60px;	
}
.section-slide{
	background: white;
	margin-top:75px;
  	text-align: center;
	width:900;
	height:419px;
}
.col-slide{
	width:10%;
	height:550px;
}
.section-teaser{
	padding:20px;

	
}
.teaser-price{
	width:150px;
	height:150px;
	background-color:#fff;
	margin:0 10px;
	float:left;
	text-align:center;
	color:#e74c3c;
	border-radius:100%;
	padding-top:20px;
	line-height:5%;
}
.teaser-price span{
	color:#000;
}
.teaser-price h1{
	font:	"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.teaser{
	width:850px;
	margin-left:auto;
	margin-right:auto;
	height:	150px;
}
.section-info{
	height:300px;
	background-color:#333;
}



.flight-content{
	margin-top:100px;
	padding-top:30px;
	width:100%;
	height:900px;
	background-color:#e74c3c;
}
.flight-left{
	padding:10px 30px;
}
.flight-middle{
	padding:10px 10px;
}